<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>showsquad.erb</title>
</head>
<body>

<%= @squad["id"] %>
<h2>Team: <%= @squad['name'] %> Mascot: <%= @squad['mascot'] %> <%= @squad['squad_id'] %></h2>

<form action='/squads/<%= @squad["id"] %>/students' method="get">
  <input type="submit" value="show students">
</form>


</body>
</html>
